<div class="container mt-5">

<form #loginForm="ngForm">
    <label for="email"> email :</label>
    <input email 
        required 
        ngModel
        type="text" 
        ngModel name="email"
        class="form-control"
        id="email"
        #email="ngModel">
        
        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            l'email n'est pas valide
        </div>
    
    <label for="password"> password :</label>
    <input password 
        required 
        ngModel
        minlength="4"
        type="password" 
        ngModel name="password"
        class="form-control"
        id="password"
        #password="ngModel">




    <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
        le password doit contenir au moins 4 caractères
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="login(loginForm)"> Login </button>
</form>
</div>